.overall-background {
    position:absolute;
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    background-color: white;
}

p {
    font-family: "Raleway", sans-serif;
}

.base {
    margin: auto;
    background-color: rgb(222, 222, 222);
    height: 1080px;
    width: 1920px;
    display: none;
}

.Overlay {
    display: none;
}

.txt-left {
    transform: translateX(-35%);
}

.txt-right {
    transform: translateX(45%);
}

.txt-center {
    text-align: center
}

.txt-container {
    position: absolute;
    /*background-color: rgba(125, 42, 11, 0.27);*/
    width: 40%;
    height: 100%;
    bottom: 0px;
    left:50%;
    font-size:20px;
    border-radius: 5px;
    margin: auto;
    transform: translateX(-50%);
}

.txt {
    position: absolute;
    background-color: white;
    width: 100%;
    bottom: 10px;
    font-size:20px;
    border-radius: 5px;
    border-color: black;
    border-width:medium;
    border-style:solid;
}

.text {
    display: none;
}

.txt p {
    padding-left: 30px;
    padding-right: 30px;
}

.base:hover {
    cursor:crosshair;
}

.slidecontainer {
    position:relative;
    width: 100%;
}

.slide-A {
    bottom: 00%;
}

.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 25px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  background: #000000;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  background: #000000;
  cursor: pointer;
}

.slider:hover{
    transform:scale(1.05,1.05);
}

.A {
  position: relative;
  height:100%;
  width:100%;
  background-image: url('gallery/placeholder-01.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-color: white;
}

.intro_bg {
    position: relative;
    height:100%;
    width:100%;
    background-image: url('gallery/kelly_with_shop.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-color: white;
}

.scene_A {
    position: relative;
    height:100%;
    width:100%;
    background-image: url('gallery/BG Scenario A.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-color: white;
}

.scene_A_rus {
    position: relative;
    height:100%;
    width:100%;
    background-image: url('gallery/BG Scenario A Ruskin.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-color: white;
}

.scene_A_led {
    position: relative;
    height:100%;
    width:100%;
    background-image: url('gallery/BG Scenario A Leduc.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-color: white;
}

.scene_B {
    position: relative;
    height:100%;
    width:100%;
    background-image: url('gallery/BG Scenario B.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-color: white;
}

.scene_B_rus {
    position: relative;
    height:100%;
    width:100%;
    background-image: url('gallery/BG Scenario B Ruskin.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-color: white;
}

.scene_B_led {
    position: relative;
    height:100%;
    width:100%;
    background-image: url('gallery/BG Scenario B Leduc.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-color: white;
}

.scene_C {
    position: relative;
    height:100%;
    width:100%;
    background-image: url('gallery/BG Scenario C.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-color: white;
}

.scene_C_rus {
    position: relative;
    height:100%;
    width:100%;
    background-image: url('gallery/BG Scenario C Ruskin.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-color: white;
}

.scene_C_led {
    position: relative;
    height:100%;
    width:100%;
    background-image: url('gallery/BG Scenario C Leduc.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-color: white;
}

.scene_D {
    position: relative;
    height:100%;
    width:100%;
    background-image: url('gallery/BG Scenario D.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-color: white;
}

.scene_D_rus {
    position: relative;
    height:100%;
    width:100%;
    background-image: url('gallery/BG Scenario D Ruskin.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-color: white;
}

.scene_D_led {
    position: relative;
    height:100%;
    width:100%;
    background-image: url('gallery/BG Scenario D Leduc.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-color: white;
}

.scene_final_A {
    position: relative;
    height:100%;
    width:100%;
    background-image: url('gallery/RUSKIN_HAPPY.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-color: white;
}

.scene_final_B {
    position: relative;
    height:100%;
    width:100%;
    background-image: url('gallery/BOTH_SAD.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-color: white;
}

.scene_final_C {
    position: relative;
    height:100%;
    width:100%;
    background-image: url('gallery/RUSKIN_SAD.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-color: white;
}

.frame {
    top: -100%;
    height:100%;
    width:100%;
}
.convo {
    position: relative;
    height:100%;
    width:100%;
    left:0px;
    background-size: cover;
    background-repeat: no-repeat;
}

.option {
    position: relative;
    height:100%;
    width:100%;
    left:0px;

}

.ruskin-A {
  top:-100%;
  background-image: url('gallery/RUSKIN_NEUTRAL.png');
}

.leduc-A {
  top:-100%;
  background-image: url('gallery/LEDUC_NEUTRAL.png');
}

.ruskin-happy {
  top:-100%;
  background-image: url('gallery/Ruskin_Happy2.gif');
}

.leduc-happy {
  top:-100%;
  background-image: url('gallery/Leduc_Happy2.gif');
}

.ruskin-sad {
  top:-100%;
  background-image: url('gallery/Ruskin_Sad2.gif');
}

.leduc-sad {
  top:-100%;
  background-image: url('gallery/Leduc_Sad2.gif');
}

.op-1-A {
  top:0;
  height:100%;
  width:100%;
  background-image: url('gallery/placeholder-06.png');
  background-size: cover;
  background-repeat: no-repeat;
}

.op-2-A {
  transform:translateY(-100%);
  height:100%;
  width:100%;
  background-image: url('gallery/placeholder-07.png');
  background-size: cover;
  background-repeat: no-repeat;
}

.op-3-A {
    transform:translateY(-200%);
    height:100%;
    width:100%;
    background-image: url('gallery/placeholder-08.png');
    background-size: cover;
    background-repeat: no-repeat;
}

.op-ruskin {
  top:0;
  height:100%;
  width:100%;
  background-image: url('gallery/RUSKIN_NEUTRAL.png');
  background-size: cover;
  background-repeat: no-repeat;
}

.op-leduc {
  top:0;
  height:100%;
  width:100%;
  background-image: url('gallery/LEDUC_NEUTRAL.png');
  background-size: cover;
  background-repeat: no-repeat;
  transform:translateY(-100%)
}

.button {
    height:6%;
    width:8%;
    margin:10px;
    position:absolute;
    bottom:0;
    right:0;
    background-color:rgb(255, 255, 255);
    text-align:center;
    border-radius: 15px;
    border-width:medium;
    border-style:solid;
    border-color:black;
}

.button:hover{
    transform:scale(1.1,1.1);
}

.button div {
    position:absolute;
    vertical-align: middle;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
}
