html, body {
   margin: 0;
   height: 100%;
   cursor: crosshair;
}

#c {
   width: 100%;
   height: 100%;
   display: block;
}

.split {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
}

.split>div {
  width: 100%;
  height: 100%;
}

#front-menu{
    position: fixed;
    top:50%;
    left:50%;
    border-width: medium;
    border-style: solid;
    border-color: white;
    border-radius: 15px;
    padding: 20px;
    text-align: center;
    transform:translate(-50%,-50%);
}

#front-title {
    font-size: 60px;
    color: white;
    left:50%;
    top:50%;
}

.front-button a {
    font-size: 15px;
    color: white;
    left:50%;
    top:50%;
    padding: 4px;
    text-decoration: none;
}

/* visited link */
.front-butto a:visited {
  color: white;
}

.front-button a:hover {
    color: red;
    cursor: crosshair;
}
