div {
  /*border-width: thin;
  border-style: dashed;
  border-color: pink;*/
}

body, html {

}

.fullscreen-bg {
    z-index: -100;
    position:absolute;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
}

.fullscreen-bg_video {
    /*-webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    /*filter: grayscale(100%);*/
    position: absolute;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
}

.dots {
  position: absolute;
  z-index: 00;
  right: 0;
  bottom: 0;
  padding: 0;
  margin: 0;
  background-image: radial-gradient(#99e696 30%, transparent 30%);
  background-size: 5px 5px;
  min-width: 100%;
  min-height: 100%;
}

.dots2 {
  z-index: -1;
  right: 0;
  bottom: 0;
  padding: 0;
  margin: 0;
  background-image: radial-gradient(#99e696 30%, transparent 30%);
  background-size: 5px 5px;
  min-width: 100%;
  min-height: 100%;
}

.architecture_bckgrd{
  background-color: rgb(240, 240, 240);
}

.about_bckgrd {
  position: absolute;
  display: inline-block;
  height:50%;
  width:100%;
  bottom: 0px;
  background-image: url('gallery/Island Plan Portfolio About Page.png');
  background-size: cover;
  background-repeat: no-repeat;
  -webkit-filter: grayscale(60%); /* Safari 6.0 - 9.0 */
  filter: grayscale(60%);
}

.About_Description {
  font-family: 'Raleway', sans-serif;
  position: absolute;
  padding:30px;
  top:20%;
  left:50%;
  width:60%;
  max-width:600px;
  color: rgb(237, 237, 237);
  transform: translate(-50%,0%);
  background-color: rgba(238, 46, 123, 0.59);
}

.description-box{
  padding: 15px;
  text-align: center;
  position: fixed;
  right:50%;
  width: 50%;
  height:50%;
  bottom: 0%;
  transform: translate(50%,50%);
}

.description_panel{
  font-family: 'Cantarell', sans-serif;
  grid-column: span 2;
  max-width: 100%;
}
.description-box2{
  padding: 15px;
  position: relative;
  text-align: center;
  top:50%;
  transform: translateY(-50%);
}

.panelbox {
  grid-column: span 1;
  grid-row: span 1;
}

.black_base{
  background-color: black;
}
.title {
  font-family: 'Cantarell', sans-serif;
  padding-left: 60px;
  font-size: 150px;
  color:#ee2e7b;
  line-height:60%;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
   -khtml-user-select: none; /* Konqueror HTML */
     -moz-user-select: none; /* Firefox */
      -ms-user-select: none; /* Internet Explorer/Edge */
          user-select: none; /* Non-prefixed version, currently
                                supported by Chrome and Opera */
}

.title2 {
  font-family: 'Cantarell', sans-serif;
  font-size: 80px;
  color:#ee2e7b;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
   -khtml-user-select: none; /* Konqueror HTML */
     -moz-user-select: none; /* Firefox */
      -ms-user-select: none; /* Internet Explorer/Edge */
          user-select: none; /* Non-prefixed version, currently
                                supported by Chrome and Opera */
}

.title2 a {
  color:#ee2e7b;
  text-decoration: none;
}

.title2 a:hover {
  color:#ee2e7b;
  cursor: crosshair;
  text-decoration: none;
  background-color: rgba(255, 255, 255, 0.80);
}

.dropdown-content {
  display: none;
}


#menu {
  font-family: 'Raleway', sans-serif;
  font-size: 19px;
  transform: translateY(-8px);
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
   -khtml-user-select: none; /* Konqueror HTML */
     -moz-user-select: none; /* Firefox */
      -ms-user-select: none; /* Internet Explorer/Edge */
          user-select: none; /* Non-prefixed version, currently
                                supported by Chrome and Opera */
}

#menu a {
  color:#ee2e7b;
  text-decoration: none;
}

#menu a:hover {
  background-color: white;
  color:;
  cursor: crosshair;
}

.base {
  position: fixed;
  z-index: 1;
  min-height: 100%;
  min-width: 100%;
}

.infobar {
  height: 120px;
  position: relative;
  bottom: -50vh;
  transform: translateY(-50%);
}

.p-menu {
  margin-left: 0;
  padding-left: 10px;
}

.profiles {
  width: 1000px;
  position: fixed;
  left:50%;
  bottom: 50%;
  transform: translate(-50%,50%);
}

.panels{
  width: 100%;
  position: absolute;
  left:50%;
  top: 150px;
  transform: translateX(-50%);
}

.panel_grid{
  position:absolute;
  display: grid;
  grid-template-columns: 285px 285px 285px;
  grid-template-rows: 200px 200px 200px;
  grid-gap: 2%;
  left:50%;
  top:50%;
  top: 150px;
  transform: translate(-50%,35%);
}
.padbox {
  height:230px;
  padding:10px;
}

.padbox2 {
  /*height:675px;*/
}

.prof-img-beyond14 {
  border-radius: 10px;
  height:100%;
  background: url(gallery/render1.png);
  background-color: black;
  background-size: 100%,100%;
  background-repeat: no-repeat;
  background-position: center;
  cursor: crosshair;
  -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
}

.prof-img-gulu {
  border-radius: 10px;
  height:100%;
  background: url(gallery/IMG_20191220_150047-01-01-01.jpg);
  background-color: black;
  background-size: 85%,85%;
  background-repeat: no-repeat;
  background-position: center;
  cursor: crosshair;
  -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
}

.prof-img-crescendo {
  border-radius: 10px;
  height:100%;
  background: url("gallery/IMG_20190127_110756.jpg");
  background-size: 100%,100%;
  background-repeat: no-repeat;
  background-position: center;
  cursor: crosshair;
  -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
}

.prof-img-cloud10 {
  border-radius: 10px;
  height:100%;
  background: url(gallery/CoverPage2.jpg);
  background-size: 100%,100%;
  background-repeat: no-repeat;
  background-position: center;
  cursor: crosshair;
  -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
}

.prof-img-points {
  border-radius: 10px;
  height:100%;
  background: url(gallery/axofacade.png);
  background-color: black;
  background-size: 120%,120%;
  background-repeat: no-repeat;
  background-position: center;
  cursor: crosshair;
  -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
}

.prof-img-yaqzan {
  border-radius: 10px;
  height:100%;
  background: url("gallery/Portfolio-Website-9.jpg");
  background-size: 130%,130%;
  background-repeat: no-repeat;
  background-position: center;
  cursor: crosshair;
  -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
}

.prof-img-machine-crafted {
  border-radius: 10px;
  height:100%;
  background: url("gallery/Physical Model 2.png");
  background-color: black;
  background-size: 130%,130%;
  background-repeat: no-repeat;
  background-position: center;
  cursor: crosshair;
  -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
}

.prof-img-machine-crafted:hover, .prof-img-beyond14:hover, .prof-img-gulu:hover, .prof-img-crescendo:hover, .prof-img-crescendo:hover, .prof-img-cloud10:hover, .prof-img-points:hover, .prof-img-yaqzan:hover {
  filter: none;
  -webkit-filter: grayscale(0%);
}

.pg23 {
  background: url("gallery/Portfolio Website23.jpg");
  height:100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.pg24 {
  background: url("gallery/Portfolio Website24.jpg");
  height:100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.pg25 {
  background: url("gallery/Portfolio Website25.jpg");
  height:100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.pg26 {
  background: url("gallery/Portfolio Website26.jpg");
  height:100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.pg27 {
  background: url("gallery/Portfolio Website27.jpg");
  height:100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

#imgContainer {
  position: relative;
  top: 0;
  width:100%;
  min-height: 250px;
  display: grid;
}

#imglogo {
  max-width: 100%;
  max-height: 100vh;
  margin: auto;
}

.horizontal_slider {
  position: relative;
}

.vertical_img {
  position: relative;
  max-width: 40%;
  transform: translateX(-50%);
  left:50%;
}

.horizontal_img {
  position: relative;
  max-width: 40%;
  max-height: 100vh;
  transform: translateX(-50%);
  left:50%;
  padding-top:1%;
  padding-bottom:1%;
}

.horizontal_slider img {

}

.horizontal_slider_left {
  position: absolute;
  top:50%;
  left:10%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  color:rgb(158, 158, 158);
  z-index:1;
  transform: scale(5);
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
   -khtml-user-select: none; /* Konqueror HTML */
     -moz-user-select: none; /* Firefox */
      -ms-user-select: none; /* Internet Explorer/Edge */
          user-select: none; /* Non-prefixed version, currently
                                supported by Chrome and Opera */
}

.horizontal_slider_right {
  position: absolute;
  top:50%;
  right: 10%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  color:rgb(158, 158, 158);
  z-index:1;
  transform: scale(5);
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
   -khtml-user-select: none; /* Konqueror HTML */
     -moz-user-select: none; /* Firefox */
      -ms-user-select: none; /* Internet Explorer/Edge */
          user-select: none; /* Non-prefixed version, currently
                                supported by Chrome and Opera */
}

.horizontal_slider_left, .horizontal_slider_right {
  cursor: crosshair;
}

.youtube_frame {
  position: relative;
  transform: translateX(-50%);
  z-index: 1;
  left:50%;
  margin:.25%;
}

@media only screen and (max-width: 330px) {
  .profiles {
    width: 150px;
  }

  .padbox {
    height: 110px;
  }
  .title {
    font-size: 100px;
    line-height:100%;
    text-align: center;
    padding:0;
  }
  .page {
    text-align: center;
    margin: 0 auto;
  }

  .infobar div {
    width: 100%;
    margin: 0 auto;
  }
  .row{
    margin-left:auto !important;
    margin-right:auto !important;
  }

  .title2 {
    font-size: 40px;
  }

  .p-menu {
    margin-left: 0;
    padding-left: 0;
  }

  #menu {
    font-size: 15px;
  }

  .About_Description {
    width: 80%;
    top:15%;
  }
  .About_Description h1 {
    font-size:18px;
  }

  .About_Description p {
    font-size:11px;
  }

  .vertical_img {
    max-width: 50%;
  }

  .horizontal_img {
    max-width: 50%;
  }

  .panel_grid{
    grid-template-columns: 142px 142px !important;
    grid-template-rows: 100px 100px 100px 100px 100px !important;
    grid-gap: 1%;
    top:10% !important;
    transform: translate(-50%,0%) !important;
  }
}

@media only screen and (max-width: 767.98px) {
  .profiles {
    width: 150px;
  }

  .padbox {
    height: 110px;
  }
  .title {
    font-size: 100px;
    line-height:100%;
    text-align: center;
    padding:0;
  }
  .page {
    text-align: center;
    margin: 0 auto;
  }

  .infobar div {
    width: 100%;
    margin: 0 auto;
  }
  .row{
    margin-left:auto !important;
    margin-right:auto !important;
  }

  .title2 {
    font-size: 40px;
  }

  .p-menu {
    margin-left: 0;
    padding-left: 0;
  }

  #menu {
    font-size: 15px;
  }

  .About_Description {
    width: 80%;
    top:15%;
  }

  .About_Description h1 {
    font-size:18px;
  }

  .About_Description p {
    font-size:11px;
  }

  .vertical_img {
    max-width: 50%;
  }

  .horizontal_img {
    max-width: 50%;
  }
  .description_panel{
    grid-column: span 3;
    grid-row: span 2;
  }
  .panel_grid{
    grid-template-columns: 100px 100px 100px !important;
    grid-template-rows: 71px 71px 71px 71px 71px !important;
    grid-gap: 1%;
    top:15% !important;
    transform: translate(-50%,0%) !important;
  }
}

@media only screen and (max-width: 991.98px) {
  .title {
    font-size: 100px;
    line-height:100%;
    text-align: center;
    padding:0;
  }
  .page {
    text-align: center;
    margin: 0;
    padding-left: 0;
    padding-right: 0;
  }

  .infobar div {
    width: 100%;
    margin: 0 auto;
  }
  .row{
    margin-left:auto !important;
    margin-right:auto !important;
  }
  .col-sm-1 {
    max-width: 100% !important;;
  }

  .title2 {
    font-size: 40px;
  }

  .p-menu {
    margin-left: 0;
    padding-left: 5px;;
  }

  #menu {
    font-size: 15px;
  }

  .vertical_img {
    max-width: 45%;
  }

  .horizontal_img {
    max-width: 45%;
  }

  .panel_grid{
    grid-template-columns: 200px 200px 200px;
    grid-template-rows: 140px 140px 140px;
    transform: translate(-50%,35%);
  }

  .description-box2 h1{
    font-size:15px !important;
  }
  .description-box2 h2{
    font-size:12px !important;
  }
  .description-box2 h3{
    font-size:10px !important;
  }
  .description-box2 p{
    font-size:10px !important;
  }
}

@media only screen and (max-width: 1199.98px) {
  .vertical_img {
    max-width: 45%;
  }

  .horizontal_img {
    max-width: 45%;
  }

}
